* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, 
button:active, 
button:focus {
    outline: none;
}

.main{
    width: 100%;
    min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
}
.profile{
    display: flex;
    width: 100%;
}
.profile__img{
    z-index: 1;
}
.profile__img img{
    height: 125px;
}
   
.profile__info{
    width: 100%;
}
.profile__name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 5px 0;
    text-align: end;
    width: 175px;
}
.profile__manager{
    padding-bottom: 5px;
    font-size: 14px;
    color: #808080;
    text-align: end;
    width: 158px;
}
.profile__offer{
    width: 100%;
    border:  1px solid #cecabf;
    background-color: #fffbc8;
    border-radius: 0 10px 10px 0;
    
    position: relative;
    right: 6%;
}
.profile__offer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 35px;
}
.service{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-bottom: 5px;
    width: 84%;
}
.services{
    display: flex;
    justify-content: flex-end;
    margin-left: 25%;
    border-top: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    width: 69%;
}
.servises__nameOfServices{
    border-top: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    padding-top: 15px;
    padding-right: 8%;
    padding-bottom: 15px;
    
}
.servises__nameOfServices__booking{
    width: 150px;
    border-radius: 0 5px 5px 0;
    font: 13px sans-serif;
  background-color: #b1e19b;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: black;
}
.servises__nameOfServices__toors{
    border-radius: 0 5px 5px 0;
    width: 100px;
    font: 13px sans-serif;
  background-color: #ace2f8;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: black;
}
.servises__nameOfServices_hotels{
    border-radius: 0 5px 5px 0;
    width: 30px;
    font: 13px sans-serif;
  background-color: #ace2f8;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: black;
}
.servises__numberOfServices{
    font-weight: 600;
    text-align: right;
    margin-left: 41%;
    margin-right: 17%;
}
.numberOfServices__eleven{
    margin-top: 15px;
    margin-bottom: 10px;
}
.numberOfServices__three{
    
}
.numberOfServices__one{
    margin-top: 7px;
}
.result{
    font-weight: 600;
    text-align: right;
    width: 83%;
    margin-top: 10px;
}
.result__all{
    margin-left: 60%;
}
#last{
    width: 87%;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px; 
}
#last div .lastCommentary{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.reviews__a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 1em;
}
.comment{
    width: 95%;
}
.comment div div{
    height: 100px;
}
.comment div p span{
    font-size: 11px;
    color: #808080;
    margin-left: 2%;
}
.comment div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
}
.comment__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 28px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    position: relative;
    padding: 10px 30px 10px 30px;
    border: 1px solid #cfcfcf;
    display: inline-block;
    background: #f2fbff;
    
}
.comment__text::after{
    content: '';
    border: 10px solid transparent;	
border-bottom: 10px solid  #f2fbff; 
border-left: 10px solid  #f2fbff;

    position: absolute;
    left: 10px;
    bottom: 87px;
}



.commentary{
    width: 95%;
    padding-right: 5%;
    background-color: #f2f2f2;
    margin-top: 10px;
    padding-top: 30px;
}
.commentary div{
    margin-left: 5%;
}

.newComment{
    width: 100%;
    height: 100px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-bottom-width: 30px;
    padding-bottom: 30px;

}
.button__addNewComment{
    border-radius: 30px;
    padding: 17px 60px 17px 60px;
    border: 0px;
    background-color: #fdd639;
    font-size: 20px;
    font-weight: 600;
    outline: 0;
}
.profile__img img{
    shape-outside: circle(farthest-side at 25% 25%);
    shape-margin: 15px;
}
.p{
    margin-bottom: 20px;
}
@media (max-width: 667px) { 
   
    .profile__offer {
        position: relative;
        right: 8%;
    }
    .result__all{
        margin-left: 66%;
    }
}
@media (max-width: 494px) { 
    .profile__img img{
        width: 150px;
        height:150px;
    }
    .result__all{
        margin-left: 70%;
    }
    .profile__offer p{
        font-size: 12px;
    }
    .profile__offer {
        position: relative;
        right: 9%;
    }
}
@media (max-width: 403px) { 
    .result__all{
        margin-left: 78%;
    }
    .profile__img img{
        width: 165px;
        height:165px;
    }
    .profile__offer {
        position: relative;
        right: 14%;
    }
}